services:
  pgdb:
    image: postgres:latest
    container_name: financical_pgdb
    restart: unless-stopped
    volumes:
      - postgres_data:/var/lib/postgresql/
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  back:
    env_file:
      - ".env"
    build:
      context: back
      dockerfile: Dockerfile
    container_name: financical_backend
    environment:
      DATABASE_NAME: ${DB_NAME}
      DATABASE_USER: ${DB_USER}
      DATABASE_PASSWORD: ${DB_PASSWORD}
      DATABASE_HOST: ${DB_HOST}
      DATABASE_PORT: 5432
      ENV_EMAIL: ${ENV_EMAIL}
      ENV_PASSWORD: ${ENV_PASSWORD}
      DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}
      DEBUG: ${DEBUG}
      HOST: ${HOST}

    command: >
     bash -c "python manage.py migrate &&
         echo \"from api.models import CustomUser; CustomUser.objects.create_superuser('$${ENV_EMAIL}', '$${ENV_EMAIL}', '$${ENV_PASSWORD}') if not CustomUser.objects.filter(username='$${ENV_EMAIL}').exists() else None\" | python manage.py shell &&
         python manage.py collectstatic --noinput &&
         daphne -b 0.0.0.0 -p 8000 back.asgi:application"
    ports:
      - "8001:8000"
    depends_on:
      pgdb:
        condition: service_healthy
  volumes:
    - media_volume:/vol/media/
    - static_volume:/vol/static/

volumes:
  postgres_data:
  static_volume:
  media_volume: