@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --white-color: hsl(0, 0%, 100%);
  --background-color: hsl(225, 6%, 13%)
}

:root {
  font-family: "Inter", serif;
  background-color: var(--background-color);
  color: var(--white-color);
}